input.form-control {
    @include font-size(16);

    @include spacing(6, padding-top);
    @include spacing(6, padding-bottom);
    @include spacing(12, padding-left);
    @include spacing(12, padding-right);
    @include spacing(24, line-height);

    border: 1px solid;
    @include color-weight($button-normal, 2, border-color);

    width: 100%;
    min-height: 44px;
    font-weight: 400;
    color: $button-normal;
    // background-color: inherit;
    background-clip: padding-box;

    border-radius: .25rem;
    margin: 0;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

select {
    &.lang {
        min-width: 100px;
        background: transparent;
        color: #fff;
        border: 0;

        &:focus,
        &:active {
            outline: none;
        }
    }
}